.multi-select-group {
      display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
        width: 95%;
    background-color: white;
    border-radius: 8px;
    padding: 24px;
    margin-left: 0;
    margin-bottom: 12px;

}

.multi-select-option.radio-select {
  background-color: #BBD3CD40;
  color: #1E1E1E;
  border: none;
}

.multi-select-group h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 0 0 12px 0;
  color: #1a1a1a;
}

.multi-select-options {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  height: min-content;
}

.multi-select-option {
  padding: 10px 16px;
  border: 1px solid #949494;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  color: #949494;
  cursor: pointer;
  user-select: none;
  transition: 0.2s, color 0.2s, border-color 0.2s;
}

.multi-select-option.active {
  background-color: #065f46;
  border-color: #065f46;
  color: white;
}


@media screen {
  .multi-select-group {
    width: 90%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4px;
  }

  .multi-select-group h4 {
    font-size: 14px;
  }

}