.fixed-position {
    position: absolute;
    top: 16px;
    left: 70%;
    width: 15%;
}

@media (max-width: 767px) {
  .fixed-position {
    position: static; 
    top: auto;
    left: auto;
    width: 90%; 
  }
}