.page {
  margin: auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-montserrat);
  background-color: #F2F3ED;
  color: #1E1E1E;
}

.modal {
  width: 600px;
  height: calc(344 + 92)px;
  padding: 16px 24px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 0 5px 0.1px rgba(0, 0, 0, 0.2);
}

.line {
  width: 100% + 32px;
  margin: 0 -24px;
  border: 1px solid grey;
  transform: scaleY(0.1)
}

.flexboxtwo {
  margin: 24px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 24px;
}

.selectmodule {
  width: 45%;
  height: 180px;
  padding: 24px;
  background-color: #F2F3ED80;
  border: 1px solid #747D6F33;
  border-radius: 16px;
  cursor: pointer;
}

.module-active {
  border: 2px solid #10603C;
}


.imageSelect {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.checkbox-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f2f2f2;
}

.checkbox-circle {
  width: 32px;
  height: 32px;
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid hsla(99, 6%, 46%, 0.2);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease;
  background-color: #fff;
  box-sizing: border-box;
}

.checkbox-circle.checked {
  background-color:#10603C;
  border: none;
}

.checkbox-circle.checked::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 50%;
  width: 12px;
  height: 6px;
  border: 3px solid white;
  border-width: 0 0 2px 2px;
  transform: translate(-50%, -50%) rotate(-45deg);
  transform-origin: center;
}

.btn {
  width: 100%;
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
  }
}
