.navigation-header-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}

.navigation-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}

.navigation-header-right {
        display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 24px;
}