.full-application h1 {
    margin-bottom: 32px;
}

.two-flex-form-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 16px;
    padding: 16px;
    background-color: #FFFFFF;
    border-radius: 8px;
    gap: 8px;
}

.data-application {
    display: block;
    justify-content: flex-start;
}

.data-application h3 {
    margin: 0;
    width: 90%
}

.data-application h6 {
    margin: 0;
    margin-bottom: 3px;
}

@media (max-width: 767px) {
  .full-application h3 {
    font-size: 12px;
    line-height: 14px;
  }

  .full-application h6 {
    font-size: 10px;
  }
}