.table-wrapper {
  font-family: 'Inter', sans-serif;
  background: #f3f4ef;
}


.status {
  padding: 6px 12px;
  border-radius: 12px;
  font-size: 12px;
  white-space: nowrap;
}

.status-green {
  background: #e0f3eb;
  color: #3e9c7b;
}

.status-yellow {
  background: #fff5cc;
  color: #b58d00;
}

.status-red {
  background: #ffe2e2;
  color: #d84d4d;
}

.td-image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}
