.table-wrapper {
  font-family: 'Inter', sans-serif;
  background: #f3f4ef;
}


.status {
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 12px;
  white-space: nowrap;
  font-weight: 500;
}

.status-green {
  background: #10603C1A;
  color: #10603C
}

.status-yellow {
  background: #E2B5001A;
  color: #E2B500;
}

.status-red {
  background: #C921401A;
  color: #C92140;
}

.td-image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}
