.input-wrapper {
    width: 100%;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.label-input {
    font-family: 'Inter', sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: #949494;
}

.auth-options {
    margin: 16px 0 24px 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.auth-memory-input {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 11px;
}

.auth-memory-input p {
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #949494;
    text-wrap: nowrap;
}

.checkbox-squared {
    width: 18px;
    height: 18px;
    border: 1px solid #747D6F33;
    border-radius: 4px;
}

input[type="checkbox"] {
  accent-color: #10603C;
}

.password-wrapper {
  position: relative;
}

.password-input-container {
    width: 100%;
  position: relative;
}

.toggle-password-button {
  position: absolute;
  width: 24px;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.a-login {
  font-size: 16px;
  line-height: 20px;
  color: #10603C;
  text-decoration: underline;
}
